In [7]:
import pandas as pd

### Read benchmark data

In [8]:
benchmarks_py = pd.read_csv('python/benchmarks_py.csv')
benchmarks_jl = pd.read_csv('julia/benchmarks_jl.csv')

benchmarks = pd.merge(
    benchmarks_py.sort_values(['Problem', 'Date', 'Python'], ascending=[True, True, False]).groupby('Problem').tail(1),
    benchmarks_jl.sort_values(['Problem', 'Date', 'Julia' ], ascending=[True, True, False]).groupby('Problem').tail(1),
    how = 'outer', 
    on = 'Problem'
).drop(columns = ['Date_x', 'Date_y']).set_index('Problem')

### Where is Python faster than Julia?

In [9]:
bm = benchmarks.copy()
bm.dropna(inplace=True)
bm['Faster (x times)'] = [round(j/p, 1) for (p, j) in zip(bm.Python, bm.Julia)]
bm.loc[bm['Faster (x times)'] > 1, ['Faster (x times)']].sort_values(by = 'Faster (x times)', ascending = False)

         Faster (x times)
Problem
3                    16.2
29                    1.1

### Where is Julia not _subsecond_ in solving problems

In [10]:
ss = benchmarks.copy().drop(columns = 'Python')
ss['Julia'] = [round(ns / 1_000_000_000, 1) for ns in ss['Julia']]
ss.rename(columns={'Julia': 'Duration (seconds)'}, inplace = True)
ss.loc[ss['Duration (seconds)'] > 1].sort_values(by = 'Duration (seconds)', ascending = False)

         Duration (seconds)
Problem
44                   1968.2
41                      8.1
23                      6.0

### Where is Python not _subsecond_ in solving problems

In [11]:
ss = benchmarks.copy().drop(columns = 'Julia')
ss['Python'] = [round(ns / 1_000_000_000, 1) for ns in ss['Python']]
ss.rename(columns={'Python': 'Duration (seconds)'}, inplace = True)
ss.loc[ss['Duration (seconds)'] > 1].sort_values(by = 'Duration (seconds)', ascending = False)

         Duration (seconds)
Problem
44                   6259.3
35                   1753.2
31                   1139.4
37                    327.8
92                     37.3
23                     19.0
14                     11.2
30                      9.7
12                      2.8
34                      2.1
21                      2.0

#### Where is Julia faster than Python?

In [12]:
bm = benchmarks.copy()
bm.dropna(inplace=True)
bm['Faster (x times)'] = [round(p/j, 1) for (p, j) in zip(bm.Python, bm.Julia)]
bm.loc[bm['Faster (x times)'] > 1, ['Faster (x times)']].sort_values(by = 'Faster (x times)', ascending = False)

         Faster (x times)
Problem
5               4303878.9
24               770659.1
35                 8410.3
6                  1698.0
31                 1102.8
37                  993.9
34                  301.3
21                  203.8
30                  188.3
9                    83.0
19                   66.7
12                   57.3
2                    37.9
45                   33.0
8                    27.3
42                   23.2
1                    19.6
26                   17.3
14                   15.0
20                   10.9
25                   10.5
16                    9.9
11                    5.0
4                     4.9
17                    4.1
67                    4.0
23                    3.2
44                    3.2
13                    2.3
15                    2.2
18                    2.1
36                    2.1
7                     2.0
10                    1.7
40                    1.6
22                    1.5