In [1]:
import pandas as pd
import os

#### Read benchmark data

In [2]:
benchmarks_py = pd.read_csv('python/benchmarks_py.csv')
benchmarks_jl = pd.read_csv('julia/benchmarks_jl.csv')

#### Show Benchmarks

In [3]:
benchmarks_py['Python'] = [round(t) for t in benchmarks_py['Python']]
benchmarks_jl['Julia'] = [round(t) for t in benchmarks_jl['Julia']]

benchmarks = pd.merge(
    benchmarks_py.groupby(by = ['Problem', 'Date']).min(),
    benchmarks_jl.groupby(by = ['Problem', 'Date']).min(),
    how = 'outer', 
    on = 'Problem'
)

benchmarks # in nanoseconds (ns)

                Python         Julia
Problem
1                14613  7.950000e+02
2                 6884  1.950000e+02
3              1547143  1.833000e+03
4            143396386  2.944538e+07
5           6716487316  3.230000e+02
6                 3843  2.000000e+00
7             23296971  2.772021e+06
8               926502  2.599800e+04
9           8510236506  8.692800e+04
10           536424345  2.274830e+06
11              334874           NaN
13                1903           NaN
14         13247753184           NaN
16               22037           NaN
17             1847011           NaN
18               49142           NaN
19              113557           NaN
20               16029           NaN
21          2377447053           NaN
22             1336829           NaN
23         21955647089           NaN
24           643675607           NaN
25            25642984           NaN
29             3317682           NaN
30          9669052452           NaN
31       1139428827655  1.033221e+09
34          2060709464           NaN
35       1753186651881  2.084574e+08
36           200017458           NaN
37        327822188500  3.298366e+08
40            28305640           NaN
42              899638           NaN
44       6259346259000  1.968167e+12
45            65545545           NaN
67             1348492           NaN
92         37277040565           NaN

#### How much faster is Julia compared to Python?

In [4]:
benchmarks.dropna(inplace=True)
benchmarks['Python'] = [round(t) for t in benchmarks['Python']]
benchmarks['Julia'] = [round(t) for t in benchmarks['Julia']]
benchmarks['Faster (x times)'] = [round(p/j, 1) for (p, j) in zip(benchmarks.Python, benchmarks.Julia)]
benchmarks.loc[:, ['Faster (x times)']]

         Faster (x times)
Problem
1                    18.4
2                    35.3
3                   844.0
4                     4.9
5              20794078.4
6                  1921.5
7                     8.4
8                    35.6
9                 97899.8
10                  235.8
31                 1102.8
35                 8410.3
37                  993.9
44                    3.2